body{
    font-family: "Raleway", sans-serif;
    background: url(images/chicago-illinois-1300x1080.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-self: center;
}
header{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: #1299dd67;
    height: 4em;
}
h2{
    margin: 0;
    padding: 16px 0 0 0;
}
.flechegauche {
    width: 0;
    height: 100%;
    border-top: 50px solid transparent;
    border-right: 60px solid #1299dd67;
    border-bottom: 50px solid transparent;
    margin: 25% 0 0 5%;
  }
  
.flechedroite {
    width: 0;
    height: 100%;
    border-top: 50px solid transparent;
    border-left: 60px solid #1299dd67;
    border-bottom: 50px solid transparent;
    margin: 25% 5% 0 0;
}
h1{
    font-size: 3em;
    letter-spacing: 0.2em;
    text-shadow: #000 2px 2px 2px;
}
.fa{
    text-shadow: #1299dd 5px 5px 5px;
    font-size: 40px;
}
.icone{
    font-size: 3em;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
footer{
    background: #00000075;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}
footer p {
    padding: 0.5em 1em;
}

/* MAIN GRID */

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 80px 100px 250px 100px;
    width: 50%;
    margin: 3em auto;
    text-align: center;
    background-color: #00000075;
    border-radius: 25px;
    padding: 3em;
    box-shadow: #000 10px 10px 20px;
    border: solid 5px #99999975;
}
img{
    grid-area: 1 / 2 / 9 /16;
    margin: 0 auto;
    border: solid #000 5px;
    border-radius: 70px;
    box-shadow: #000 5px 5px 5px;
}
h1{
    grid-area: 2 / 1 / 2 / 17;
    margin: 0 auto;
}
section p {
    grid-area: 3 / 4 / 3 / 14;
    margin: 0 auto;
}
.icones{
    grid-area: 4 / 1 / 4 / 17;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 3em;
    grid-template-rows: 1fr 1fr;
}
.boutons{
    display: grid;
    grid-template-columns: auto 170px auto 170px auto;
    grid-template-rows: 1fr;
    margin: 0 auto;
    grid-area: 5 / 1 / 5 / 17
}

.decouvrir{
    grid-area: 1 / 2 / 1 / 3;
}
.suivre{
    grid-area: 1 / 4 / 1 / 6 ;
}
.bouton1{
    background-color: purple;
    padding: 1em;
    box-shadow: #000 5px 5px 5px;
}
.bouton2{
    background-color: #3a3ab9;
    padding: 1em;
    box-shadow: #000 5px 5px 5px;
}
.fa-paper-plane, .fa-facebook-f{
    text-shadow: #000 3px 3px 3px;
}

.regles{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-area: 6 / 1 / 6 / 17;
}