body{
    background-color: #000;
    font-family: "Roboto", sans-serif;
}
main{
    background-color: rgb(56, 56, 56);
    color:#fff;
    margin: 0 auto;
    width: 80%;
    padding: 1.2%;
    text-align: center;
}
.menu{
    background-color: rgb(98, 98, 98);
    /* display: flex; */
    /* justify-content: space-between; */
}
ul{
    list-style-type: none ;
    display: flex;
    margin-left: -40px;
    justify-content: space-around;
    flex-wrap: wrap;
}
figcaption{
    /* color: #fff; */
    background-color: rgb(66, 116, 252);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
figcaption:active{
    background-color:rgb(56, 3, 248);
}
section{
    background-color: rgb(66, 116, 252);
    color: #fff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: #fff;
}
